<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yunda.gps.vehicleStat.mapper.VehicleStatMapper">

	<!-- 通过车牌查询车辆状态 -->
	<select id="queryStatusByVehicleId" parameterType="String" resultType="String">
	      select stat FROM gps_veh_package where 
	      <if test="vehicleNum != null and vehicleNum!='' "> vehicle_num = #{vehicleNum}</if>
	</select>
	<select id="queryOnLineByVehicleId" parameterType="String" resultType="Date">
	      select gps_create_at FROM gps_veh_package where 
	      <if test="vehicleNum != null and vehicleNum!='' "> vehicle_num = #{vehicleNum}</if>
	</select>
</mapper>