<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunda.gps.monitor.mapper.AlarmLoggingMapper">
  <resultMap id="BaseResultMap" type="alarmLogging">
    <id column="id" property="id" />
    <result column="shipment_id" property="shipmentId" />
    <result column="license_card_id" property="licenseCardId" />
    <result column="alarm_type" property="alarmType" />
    <result column="alarm_start_time" property="alarmStartTime" />
    <result column="alarm_end_time" property="alarmEndTime" />
    <result column="alarm_time" property="alarmTime" />
    <result column="txd_flag" property="txdFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shipment_id, license_card_id, alarm_type, alarm_start_time, alarm_end_time, 
    alarm_time, txd_flag
  </sql>

	<!--  -->
  <select id="pageQuery" parameterType="alarmLogging" resultMap="BaseResultMap">
    select id, shipment_id as shipmentId, license_card_id as licenseCardId, alarm_type as alarmType, 
    date_format(alarm_start_time,'%Y-%c-%d %h:%i:%s') as alarmStartTime, 
    date_format(alarm_end_time,'%Y-%c-%d %h:%i:%s') as alarmEndTime, 
    date_format(alarm_time,'%Y-%c-%d %h:%i:%s') as alarmTime, 
    txd_flag as txdFlag
    from alarm_logging
    <where>
    	<if test="shipmentId != null and shipmentId != ''">
	        and shipment_id = #{shipmentId}
	      </if>
	      <if test="licenseCardId != null and licenseCardId != ''">
	        and license_card_id = #{licenseCardId} 
	      </if>
	      <if test="txdFlag != null and txdFlag != ''">
	        and txd_flag = #{txdFlag} 
	      </if>
	      <if test="alarmType != null and alarmType != ''">
	        and alarm_type = #{alarmType}
	      </if>
	      
	      <if test="alarmStartTimeMin != null and alarmStartTimeMin != ''">
	      	 <![CDATA[
		        and alarm_start_time >= #{alarmStartTimeMin}
			 ]]>
	      </if>
	      <if test="alarmStartTimeMax != null and alarmStartTimeMax != ''">
	      	<![CDATA[
	        	and alarm_start_time <= #{alarmStartTimeMax}
			 ]]>
	      </if>
	      
	      <if test="alarmEndTimeMin != null and alarmEndTimeMin != ''">
	      	 <![CDATA[
		        and alarm_end_time >= #{alarmEndTimeMin}
			 ]]>
	      </if>
	      <if test="alarmEndTimeMax != null and alarmEndTimeMax != ''">
	      	<![CDATA[
	        	and alarm_end_time <= #{alarmEndTimeMax}
			 ]]>
	      </if>
    </where>
  </select>
  
  
  
</mapper>