<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunda.gps.smsTemplate.mapper.SmsSendMapper">
	
<select id="queryList" parameterType="string" resultType="map">
	SELECT 
		SMS_ID,
		SIM_PHONENO,
		SEND_CONTENT,
		SMS_TYPE,
		SEND_NO,
		CREATE_TIME,
		CREATE_BY
	FROM 
		SMS_SEND
	WHERE SEND_NO=#{sendNo}
</select>

<select id="maxSendNo" resultType="int">
	SELECT if(MAX(SEND_NO) is null,0,MAX(SEND_NO)) as sendNoMax FROM SMS_SEND
</select>


<insert id="insertSmsSend" parameterType="map">
	INSERT INTO SMS_SEND(
		SMS_ID,
		SIM_PHONENO,
		SEND_CONTENT,
		SMS_TYPE,
		SEND_NO,
		CREATE_TIME,
		CREATE_BY
	)VALUES(
		#{SMS_ID,jdbcType=VARCHAR},
		#{SIM_PHONENO,jdbcType=VARCHAR},
		#{SEND_CONTENT,jdbcType=VARCHAR},
		#{SMS_TYPE,jdbcType=INTEGER},
		#{SEND_NO,jdbcType=INTEGER},
		#{CREATE_TIME,jdbcType=TIMESTAMP},
		#{CREATE_BY,jdbcType=VARCHAR}
	)
	
</insert>

<delete id="deleteSmsSend" parameterType="map">
	DELETE FROM SMS_SEND WHERE SMS_ID=#{SMS_ID}
</delete>
</mapper>