<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunda.gps.alarmParam.mapper.AlarmParamMapper" >
  <resultMap id="BaseResultMap" type="com.yunda.gps.alarmParam.data.AlarmParamVo" >
    <id column="ap_id" property="apId" jdbcType="INTEGER" />
    <result column="ap_type" property="apType" jdbcType="TINYINT" />
    <result column="duration" property="duration" jdbcType="SMALLINT" />
    <result column="distance" property="distance" jdbcType="SMALLINT" />
    <result column="speed" property="speed" jdbcType="SMALLINT" />
    <result column="collection" property="collection" jdbcType="SMALLINT" />
    <result column="start_time" property="startTime" jdbcType="DATE" />
    <result column="end_time" property="endTime" jdbcType="DATE" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="TINYINT" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ap_id, ap_type, duration, distance,speed, collection, start_time, end_time, create_by, 
    create_time, update_by, update_time, delete_flag
  </sql>
  
  <!-- 分页查询 -->
  <select id="pageQuery" resultMap="BaseResultMap" parameterType="com.yunda.gps.alarmParam.data.AlarmParam" >
    SELECT
		ap_id AS apId,
		ap_type AS apType,
		duration AS duration,
		distance AS distance,
		speed AS speed,
		collection AS collection,
		start_time AS startTime,
		end_time AS endTime,
		create_by AS createBy,
		date_format(
			create_time,
			'%Y-%c-%d %h:%i:%s'
		) AS createTime,
		update_by AS updateBy,
		date_format(
			update_time,
			'%Y-%c-%d %h:%i:%s'
		) AS updateTime,
		delete_flag AS deleteFlag
	FROM
		alarm_param
    <where>
    	<if test="apType != null and apType != ''">and ap_type = #{apType}</if>
    </where>
  </select>
  
  
  
  <!-- id 查询 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    	ap_id AS apId,
		ap_type AS apType,
		duration AS duration,
		distance AS distance,
		speed AS speed,
		collection AS collection,
		start_time AS startTime,
		end_time AS endTime,
		create_by AS createBy,
		date_format(
			create_time,
			'%Y-%c-%d %h:%i:%s'
		) AS createTime,
		update_by AS updateBy,
		date_format(
			update_time,
			'%Y-%c-%d %h:%i:%s'
		) AS updateTime,
		delete_flag AS deleteFlag
    from alarm_param
    where ap_id = #{apId,jdbcType=INTEGER}
  </select>
  
  
  
  <!-- 插入 -->
  <insert id="insert" parameterType="com.yunda.gps.alarmParam.data.AlarmParam" >
    insert into alarm_param (ap_type, duration, 
      distance, speed,collection, start_time, 
      end_time, create_by, create_time
      )
    values (#{apType,jdbcType=TINYINT},  #{duration,jdbcType=SMALLINT},
    	#{distance,jdbcType=SMALLINT},#{speed,jdbcType=SMALLINT}, #{collection,jdbcType=SMALLINT}, #{startTime,jdbcType=DATE}, 
      (
		SELECT
			IFNULL(min(gt.start_time),'3000-1-1')
		FROM
			(
				SELECT
					a.start_time
				FROM
					alarm_param a
				WHERE
					a.start_time > #{startTime}
					AND a.ap_type = #{apType}
			) gt
		),
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>

	<update id="updateAllEndTime" parameterType="com.yunda.gps.alarmParam.data.AlarmParam" >
		update alarm_param set end_time = #{startTime} 
		where ap_type = #{apType} and 
		<![CDATA[
			start_time <= #{startTime} 
			and end_time > #{startTime}
		]]>
	</update>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.yunda.gps.alarmParam.data.AlarmParam" >
    update alarm_param
    <set >
      <if test="apType != null" >
        ap_type = #{apType,jdbcType=TINYINT},
      </if>
      <if test="duration != null" >
        duration = #{duration,jdbcType=SMALLINT},
      </if>
      <if test="distance != null" >
        distance = #{distance,jdbcType=SMALLINT},
      </if>
      <if test="speed != null" >
        speed = #{speed,jdbcType=SMALLINT},
      </if>
      <if test="collection != null" >
        collection = #{collection,jdbcType=SMALLINT},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=DATE},
      </if>
        end_time = (
		SELECT
			IFNULL(min(gt.start_time),'3000-1-1')
		FROM
			(
				SELECT
					a.start_time
				FROM
					alarm_param a
				WHERE
					a.start_time > #{startTime}
					AND a.ap_type = #{apType}
			) gt
		),
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
    </set>
    where ap_id = #{apId,jdbcType=INTEGER}
  </update>
</mapper>