<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yunda.gps.fixUsers.mapper.FixUsersMapper" >
  <resultMap id="BaseResultMap" type="com.yunda.gps.fixUsers.data.FixUsers" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, phone, create_by, create_time, update_by, update_time, delete_flag
  </sql>
  
  <select id="pageQuery" resultMap="BaseResultMap" parameterType="com.yunda.gps.fixUsers.data.FixUsers" >
    select 
    id, name, phone, create_by, 
    date_format(create_time,'%Y-%c-%d %h:%i:%s') as createTime , 
    update_by, 
    date_format(update_time,'%Y-%c-%d %h:%i:%s') as updateTime
    from fix_users
    where delete_flag = 0
    <if test="id != null and id != ''">and id = #{id}</if>
    <if test="name != null and name != ''">and name like concat('%', #{name}, '%')</if>
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fix_users
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  
  <select id="getUserMap" resultType="map">
    select id as VALUE,name as NAME
    from fix_users
    where delete_flag = 0
  </select>
  
  
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update fix_users set delete_flag = 1
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  
  <insert id="insert" parameterType="com.yunda.gps.fixUsers.data.FixUsers" >
    insert into fix_users (name, phone, 
      create_by, create_time,delete_flag)
    values (#{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},#{deleteFlag,jdbcType=TINYINT})
  </insert>
  
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.yunda.gps.fixUsers.data.FixUsers" >
    update fix_users
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>